/*******************************************
 ***** RESET STYLE *************************
 *******************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*******************************************
 ***** DEFAULT STYLE ***********************
 *******************************************/
html {
  overflow-y: scroll;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6,
p, td, th, li, dt, dd, blockquote, pre {
  line-height: 120%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

ins {
  text-decoration: none;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
}

s,
del {
  text-decoration: line-through;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

pre {
  font-family: monospace;
}

cite {
  font-style: italic;
}

blockquote {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

code,
var,
kbd {
  font-family: monospace;
}

/*******************************************
 ***** COMMON STYLE ************************
 *******************************************/
body {
  min-width: 500px;
  color: #111111;
  background-color: white;
  font-size: 12px;
  font-size: 0.75rem;
}

.nav {
  overflow: hidden;
  width: 500px;
  margin: 0 auto 20px;
}
.nav > li {
  float: left;
  margin: 5px 5px 5px 0;
  line-height: 1.0;
}

a {
  color: #1122cc;
}
a:hover, a:active, a:focus {
  color: #5261f1;
}
a:hover > img {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

h1 {
  width: 500px;
  margin: 0 auto 20px;
  padding-top: 25px;
  font-size: 20px;
  font-size: 1.25rem;
  font-family: helvetica;
}

h2 {
  margin: 10px 0;
  font-size: 18px;
  font-size: 1.125rem;
  font-family: helvetica;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
}

p {
  margin: 5px 0;
  line-height: 2;
}

.section {
  width: 500px;
  margin: 5px auto 30px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px;
  text-align: justify;
  text-justify: auto;
  font-size: 16px;
  font-size: 1rem;
  font-family: Georgia;
}
.section .go-top {
  text-align: right;
}
.section .go-top a {
  color: white;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 0;
}

.home #lorem-1 {
  background-color: #e6c0ad;
}

.easing #lorem-1 {
  background-color: #e6adad;
}

.home #lorem-2 {
  background-color: #d1a9e5;
}

.easing #lorem-2 {
  background-color: #e5a9a9;
}

.home #lorem-3 {
  background-color: #cfa6e3;
}

.easing #lorem-3 {
  background-color: #a6cfe3;
}

.home #lorem-4 {
  background-color: #cca3e1;
}

.easing #lorem-4 {
  background-color: #e1a3a3;
}

.home #lorem-5 {
  background-color: #dfb59f;
}

.easing #lorem-5 {
  background-color: #df9f9f;
}

.home #lorem-6 {
  background-color: #c89cdd;
}

.easing #lorem-6 {
  background-color: #9cc8dd;
}

.home #lorem-7 {
  background-color: #db99af;
}

.easing #lorem-7 {
  background-color: #9999db;
}

.home #lorem-8 {
  background-color: #c396d9;
}

.easing #lorem-8 {
  background-color: #d9c396;
}

.home #lorem-9 {
  background-color: #d7c093;
}

.easing #lorem-9 {
  background-color: #93c0d7;
}

.home #lorem-10 {
  background-color: #9090d5;
}

.easing #lorem-10 {
  background-color: #d59090;
}

.home #lorem-11 {
  background-color: #bcd38d;
}

.easing #lorem-11 {
  background-color: #8dd3d3;
}

.home #lorem-12 {
  background-color: #b98ad0;
}

.easing #lorem-12 {
  background-color: #b9d08a;
}

.home #lorem-13 {
  background-color: #9f88ce;
}

.easing #lorem-13 {
  background-color: #ce889f;
}

.home #lorem-14 {
  background-color: #cc8585;
}

.easing #lorem-14 {
  background-color: #8585cc;
}

.home #lorem-15 {
  background-color: #9ac982;
}

.easing #lorem-15 {
  background-color: #82c99a;
}

.home #lorem-16 {
  background-color: #7fafc7;
}

.easing #lorem-16 {
  background-color: #c7af7f;
}

.home #lorem-17 {
  background-color: #c57dc5;
}

.easing #lorem-17 {
  background-color: #c57dc5;
}

.home #lorem-18 {
  background-color: #c2aa7a;
}

.easing #lorem-18 {
  background-color: #7aaac2;
}

.home #lorem-19 {
  background-color: #78bf90;
}

.easing #lorem-19 {
  background-color: #90bf78;
}

.home #lorem-20 {
  background-color: #7575bd;
}

.easing #lorem-20 {
  background-color: #bd7575;
}
