extends ./layout/_layout
include ./layout/_lorem

block vars
  - var page = { title: 'easing scroll - Smoothscroll Script', slug: 'easing', path: 'easing.html', js: ['smoothscroll'] }
block content
  #top
    h1= page.title
    p.nav
      a(href="index.html") normal scroll
    +repeatLorem(20)
